[gerrit]
	basePath = git
	serverId = {your server id: will auto generated when gerrit install}
	canonicalWebUrl = http://127.0.0.1:7000
[database]
	type = h2
	database = D:\\Devs\\gerrit\\db\\ReviewDB
[noteDb "changes"]
	disableReviewDb = true
	primaryStorage = note db
	read = true
	sequence = true
	write = true
[container]
	javaOptions = "-Dflogger.backend_factory=com.google.common.flogger.backend.log4j.Log4jBackendFactory#getInstance"
	javaOptions = "-Dflogger.logging_context=com.google.gerrit.server.logging.LoggingContext#getInstance"
	user = Sol
	javaHome = C:\\Program Files\\Java\\jre1.8.0_73
[index]
	type = LUCENE
[auth]
	type = HTTP
[receive]
	enableSignedPush = false
[sendemail]
	smtpServer = localhost
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = proxy-http://*:7000
[cache]
	directory = cache